<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="robo_diferenciado">

    <xacro:include filename="$(find robo_diferenciado)/urdf/diferenciado_robot_model.urdf.xacro"/>
    <xacro:include filename="$(find robo_diferenciado)/urdf/wheels.ros2_control.xacro"/>

    <gazebo>
        <plugin filename="gz_ros2_control-system" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
            <parameters>$(find robo_diferenciado)/config/ros2_control.yaml</parameters>
        </plugin>
    </gazebo>

</robot>
